---
http_interactions:
- request:
    method: get
    uri: https://aerodatabox.p.rapidapi.com/flights/number/LH1829
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPID_API_KEY>"
      X-Rapidapi-Host:
      - aerodatabox.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Free-Tier-Limit:
      - '2000'
      X-Ratelimit-Free-Tier-Remaining:
      - '2000'
      X-Ratelimit-Free-Tier-Reset:
      - '2586590'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Limit:
      - '25'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Remaining:
      - '25'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Reset:
      - '2586590'
      X-Ratelimit-Tier-2-Limit:
      - '250'
      X-Ratelimit-Tier-2-Remaining:
      - '116'
      X-Ratelimit-Tier-2-Reset:
      - '2586590'
      X-Ratelimit-Tier-1-Limit:
      - '250'
      X-Ratelimit-Tier-1-Remaining:
      - '250'
      X-Ratelimit-Tier-1-Reset:
      - '2586590'
      X-Ratelimit-Tier-3-Limit:
      - '250'
      X-Ratelimit-Tier-3-Remaining:
      - '250'
      X-Ratelimit-Tier-3-Reset:
      - '2586590'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - eu-central-1
    body:
      encoding: ASCII-8BIT
      string: '[{"greatCircleDistance":{"meter":1268385.95,"km":1268.386,"mile":788.138,"nm":684.874,"feet":4161371.23},"departure":{"airport":{"icao":"LEBB","iata":"BIO","name":"Bilbao","shortName":"Bilbao","municipalityName":"Bilbao","location":{"lat":43.3011,"lon":-2.910609},"countryCode":"ES"},"scheduledTimeLocal":"2022-12-23
        18:45+01:00","scheduledTimeUtc":"2022-12-23 17:45Z","terminal":"1","checkInDesk":"01-08","gate":"A13","quality":["Basic"]},"arrival":{"airport":{"icao":"EDDM","iata":"MUC","name":"Munich","shortName":"Munich","municipalityName":"Munich","location":{"lat":48.3538,"lon":11.7861},"countryCode":"DE"},"scheduledTimeLocal":"2022-12-23
        20:55+01:00","actualTimeLocal":"2022-12-23 21:00+01:00","scheduledTimeUtc":"2022-12-23
        19:55Z","actualTimeUtc":"2022-12-23 20:00Z","terminal":"2","quality":["Basic","Live"]},"lastUpdatedUtc":"2022-12-23
        20:42Z","number":"LH 1829","callSign":"DLH92K","status":"Arrived","codeshareStatus":"IsOperator","isCargo":false,"aircraft":{"reg":"D-AIBM","modeS":"3C644D","model":"Airbus
        A319"},"airline":{"name":"Lufthansa"}}]'
  recorded_at: Tue, 10 Jan 2023 14:39:07 GMT
recorded_with: VCR 6.1.0
